body {
  background-color: #393E46;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice{
    display: inline-block;
    text-align: center;
    margin : 20px;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

footer{
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.dice-face1, .dice-face2{
    background-color: rgb(196, 7, 7);
    width: 200px;
    height: 200px;
    border-radius: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.dot{
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    visibility: hidden;
}


