.hero-bg{
    background-color: #FEEE91;
    max-width: 100vw;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}

.author {
    font-size: 1.25rem;
    font-style: italic;
}

.profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ffffff;
}

.contacts{
    background-color: rgb(255, 255, 255);
}